{% extends 'templates/base.html.twig' %}

{% block body %}
    <h1>{{ variables.title }}</h1>

    <hr />
    <h3>Tags:</h3>

    <ul>
    {% for code, product in variables.products %}
        <li><a href="product.{{ code }}.md">{{ product.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
{% endblock %}